#App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gigs-container {
    background-color: #aef1ae;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    height: 46rem;
    overflow: hidden;
    margin: 1rem;
}

.gig-card {
    margin: 1rem;
    padding: 1rem;
    width: 22rem;
    border-radius: 0.5rem;
}

.card-field {
    font-weight: bold;
}

.payment-complete {
    color: green;
}

/* Extra small devices, like my rubbish iPhone 6*/
@media only screen and (max-width: 576px) {
    .gig-card {
        width: 20rem;
    }
}
