#App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#recently-completed {
    display: flex;
    justify-content: center;
}

#buttons-and-gigs-container {
    display: flex;
    align-items: center;
    padding: 1rem;
}

#scroll-buttons-container button {
    background-color: #aef1ae;
    border: 0px;
    cursor: pointer;
    display: block;
    height: 5.5rem;
    margin: 0.5rem 0;
    width: 2.5rem;
}

#scroll-buttons-container button:nth-child(1),
#scroll-buttons-container button:nth-child(3) {
    border-radius: 15px 15px 0 0;
}

#scroll-buttons-container button:nth-child(2),
#scroll-buttons-container button:nth-child(4) {
    border-radius: 0 0 15px 15px;
}

#scroll-buttons-container button.disabled {
    cursor: default;
    opacity: 0.5;
}

#gigs-container {
    display: flex;
    flex-direction: column;

    background-color: #aef1ae;
    border-radius: 0.5rem;
    height: 46rem;
    margin: 1rem;
    overflow: hidden;
}

.wk-gig-card {
    border-radius: 0.5rem;
    margin: 0.5rem 1rem;
    padding: 1rem;
    width: 22rem;
}

.wk-gig-card:nth-child(1) {
    margin-top: 1rem;
}

#latest-gig {
    transform: rotate(45deg) translateX(6rem) translateY(-6em);
    background-color: #416205;
    color: white;
    padding: 0.25rem;
    text-align: center;
    z-index: 2;
}

.card-field {
    font-weight: bold;
}

.wk-payment-complete {
    color: green;
}

.wk-payment-pending {
    color: salmon;
}

/* For extra small devices, like my ancient iPhone */
@media only screen and (max-width: 576px) {
    .wk-gig-card {
        width: 20rem;
    }
}
